html{
  background-color: #da2028;
}

ul li {
  list-style: none;
  margin-bottom: 1rem;
  color: white;
}

.App {
  text-align: center;
}

input {
  margin: 0rem 2rem;
}

.Belgie {
  color: yellow;
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 2rem;
}

.Engeland {
  color: white;
  text-decoration: underline;
  text-decoration-color: blue;
  font-size: 2rem;
}